@model GoWatch.Models.MainViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>People Joining </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fans.FavoriteTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fans.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fans.Lastname)
            </th>
   

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var fan in Model.AllFans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => fan.FavoriteTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fan.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => fan.Lastname)
            </td>
           
            
        </tr>
}
    </tbody>
</table>
