
@model IEnumerable<GoWatch.Models.FriendRequest>


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Friend.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusRequest)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Friend.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusRequest)
                </td>

                <td>
                    <a asp-action="AddFriend" asp-route-id="@item.FanID">Look Up Profile</a>

                </td>
            </tr>
        }
    </tbody>
</table>
